/* azzeramento parametri */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* generali */
body{
    background-color: rgb(1 22 39);
    text-align: center;
}

button{
    font-size: 20px;
    padding: 0.5em 0.8em;
    border-radius: 15px;
    font-weight: bold;
    color: rgb(1 22 39);
    background-color: rgb(127 255 212);
    border: none;
    position: absolute;
    top: 65%;
    left: 85%;
}

/* main */
.container{
    width: 900px;
    height: 900px;
    margin: 15em auto;
    border: 3px solid white;
    position: relative;
}

/* classe per display flex */
.row{
    display: flex;
    flex-wrap: wrap;
}

/* classe generica div */
.box{
    width: 10%;
    border: 4px solid white;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 0.7em 0;
    cursor: pointer;
}


/* classe per nascondere contenuto dalla pagina */
.invisible{
    display: none;
}

/* formattazione finestra punteggio */
#punteggio-finale
{
    padding: 1em;
    width: 60%;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

/* classe div cliccato */
.active{
    background-color: rgb(127 255 212);
    color: black;
}

.bomb{
    background-color: red;
}

/* layout bottone */
#bottone-gioco{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    padding: 1em 2em;
}